<#include "/manage/common/top.html" >

<div id="content" class="col-lg-10 col-sm-10">
	<!-- content starts -->
	<div>
		<ul class="breadcrumb">
			<li><a href="/manage/index">系统首页</a></li>
			<li><a href="list">列表管理</a></li>
			<li>修改</li>
		</ul>
	</div>

	<div class="row">
		<div class="box col-md-12">
			<div class="box-inner">
				<div class="box-content">
					<form role="form" action="update" method="post">
					<input type="hidden" name="id" value="${t.id!'' }" />
						<div class="form-group">
							<label for="exampleInputEmail1">职位类型名称</label> 
							<input type="text" class="form-control" placeholder="输入职位类型名称" name="name" value="${t.name!'' }" />
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">展示级别</label> 
							<select name="level" class="form-control" onchange="gettypesbylevel(this)">
								<option value="－1" <#if t.level==-1>selected="selected"</#if>>请选择</option>
								<option value="0" <#if t.level==0>selected="selected"</#if>>大类</option>
								<option value="1" <#if t.level==1>selected="selected"</#if>>分类</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">上级类型</label> 
							<select name="parentid" id="parentid" class="form-control">
								<option value="">请选择</option>
								<#if types??>
								<#list types as pt>
									<option value="${pt.id!'' }" <#if t.parentid?? && t.parentid==pt.id>selected="selected"</#if>>${pt.name!'' }</option>
								</#list>
								</#if>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">添加</button>
					</form>

				</div>
			</div>
		</div>
	</div>
	<!--/span-->

	<!-- content ends -->

<#include "/manage/common/botton.html" >
<!-- 当前页面交互js -->
<script type="text/javascript" src="/resources/js/manage/positiontype.js"></script>